[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Ardour6
Name[es]=Ardour6
Name[ca_ES@valencia]=Ardour6
Name[ca_ES.UTF-8@valencia]=Ardour6
Name[ca]=Ardour6
Name[ca_ES]=Ardour6
Comment=Record, mix and master multi-track audio
Comment[es]=Graba, mezcla y masteriza audio de múltiples pistas
Comment[ca_ES@valencia]=Grava, mescla i masteritza àudio multipista
Comment[ca_ES.UTF-8@valencia]=Grava, mescla i masteritza àudio multipista
Comment[ca]=Grava, mescla i masteritza àudio multipista
Comment[ca_ES]=Grava, mescla i masteritza àudio multipista
GenericName=Ardour Digital Audio Workstation 6
GenericName[es]=Estación de trabajo de audio digital Ardour 6
GenericName[ca_ES@valencia]=Estació de treball d'àudio digital Ardour 6
GenericName[ca_ES.UTF-8@valencia]=Estació de treball d'àudio digital Ardour 6
GenericName[ca]=Estació de treball d'àudio digital Ardour 6
GenericName[ca_ES]=Estació de treball d'àudio digital Ardour 6
Keywords=audio;sound;jackd,DAW,multitrack,ladspa,lv2,midi
Exec=/usr/bin/ardour %f
TryExec=/usr/bin/ardour
Icon=ardour
Terminal=false
Type=Application
Categories=AudioVideo;X-AudioEditing;Audio;Recorder;
MimeType=application/x-ardour;
