[Desktop Entry]
Name=Audacity
Name[de]=Audacity
Name[ru]=Audacity
Name[uk]=Audacity
Name[ca_ES.UTF-8@valencia]=Audacity, editor de so
Name[ca_ES@valencia]=Audacity, editor de so
Name[es]=Audacity, Editor de sonido
Name[ca]=Audacity, editor de so
Name[ca_ES]=Audacity, editor de so
Comment=Record and edit audio files
Comment[de]=Audio-Dateien aufnehmen und bearbeiten
Comment[ru]=Запись и редактирование звуковых файлов
Comment[uk]=Запис і редагування звукових фйлов
Comment[ca_ES.UTF-8@valencia]=Grava i edita fitxers de so
Comment[ca_ES@valencia]=Grava i edita fitxers de so
Comment[es]=Graba y edita ficheros de sonido
Comment[ca]=Grava i edita fitxers de so
Comment[ca_ES]=Grava i edita fitxers de so
GenericName=Sound Editor
GenericName[de]=Audio-Editor
GenericName[ru]=Редактор звуковых файлов
GenericName[uk]=Редактор звукових файлів
GenericName[ca_ES.UTF-8@valencia]=Editor de so
GenericName[ca_ES.@valencia]=Editor de so
GenericName[es]=Editor de sonido
GenericName[ca]=Editor de so
GenericName[ca_ES]=Editor de so

Icon=audacity

Type=Application

Exec=env UBUNTU_MENUPROXY=0 audacity %F
StartupNotify=false
Terminal=false
MimeType=  video/mpeg;audio/flac;audio/x-flac;audio/mpeg;audio/basic;audio/x-aiff;audio/x-wav;audio/aac;audio/ac3;audio/mp4;audio/x-ms-wma;application/ogg;audio/x-vorbis+ogg;audio/basic;audio/mpeg;audio/x-aiff;audio/x-mp3;audio/x-wav;application/x-audacity-project;
	       

Categories=AudioVideo;Player;Audio;AudioVideoEditing;LliureX-Audio;
TryExec=/usr/bin/audacity
