[Desktop Entry]
Version=1.0
Exec=avogadro %f
Terminal=false
Type=Application
StartupNotify=true
Name=Avogadro
Name[es]=Editor molecular Avogadro
Name[ca_ES.UTF-8@valencia]=Editor molecular Avogadro
Name[ca_ES@valencia]=Editor molecular Avogadro
Comment=Advanced molecular editor
Comment[ca_ES.UTF-8@valencia]=Editor molecular avançat Avogadro
Comment[ca_ES@valencia]=Editor molecular avançat Avogadro
Comment[es]=Editor molecular avanzado Avogadro
Categories=LliureX-Laboratory;
Icon=avogadro
TryExec=/usr/bin/avogadro
MimeType=chemical/x-cif;chemical/x-cml;chemical/x-daylight-smiles;chemical/x-gamess-input;chemical/x-gamess-output;chemical/x-gaussian-log;chemical/x-mopac-out;chemical/x-pdb;chemical/x-xyz;chemical/x-gaussian-checkpoint;chemical/x-gaussian-cube;chemical/x-qchem-output;

