[Desktop Entry]
Name=Bluetooth Adapters
Name[es]=Adaptador Bluetooth
Name[ca_ES@valencia]=Adaptador Bluetooth
Name[ca_ES.UTF-8@valencia]=Adaptador Bluetooth
X-XfceSettingsName=Bluetooth
Name[ca]=Adaptador Bluetooth
Name[ca_ES]=Adaptador Bluetooth
Comment=Set Bluetooth Adapter Properties
Comment[es]=Establece las propiedades del adaptador Bluetooh
Comment[ca_ES@valencia]=Establiu les propietats de l'adaptador Bluetooh
Comment[ca_ES.UTF-8@valencia]=Estableiu les propietats de l'adaptador Bluetooh
Comment[ca]=Establiu les propietats de l'adaptador Bluetooh
Comment[ca_ES]=Establiu les propietats de l'adaptador Bluetooh
Exec=blueman-adapters
TryExec=blueman-adapters
Icon=blueman-device
Terminal=false
Type=Application
Categories=X-XFCE;Settings;HardwareSettings;X-XFCE-SettingsDialog;GTK;
StartupNotify=true
OnlyShowIn=XFCE;MATE;
NoDisplay=false
X-XfcePluggable=false
#X-Ubuntu-Gettext-Domain=blueman
