[Desktop Entry]
Name=Caja Dropbox
Name[es]=Caja Dropbox
Name[ca_ES@valencia]=Caja Dropbox
Name[ca_ES.UTF-8@valencia]=Caja Dropbox
GenericName=File Synchronizer For Mate
Comment=Installs and launches proprietary Dropbox cloud software
Comment[es]=Lanza el cliente de Dropbox
Comment[ca_ES@valencia]=Llança el client de Dropbox
Comment[ca_ES.UTF-8@valencia]=Llança el client de Dropbox
Exec=dropbox-launcher
TryExec=dropbox-launcher
Terminal=false
Type=Application
Icon=caja-dropbox
Categories=Network;FileTransfer;
StartupNotify=false
Keywords=dropbox,transfer,file,sharing,caja,MATE,filebrowser
