[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Hugin Calibrate Lens
Name[es]=Calibrador de lentes Hugin
Name[ca_ES@valencia]=Calibratge de lents Hugin
Name[ca_ES.UTF-8@valencia]=Calibratge de lents Hugin
Comment=Characterise lens distortion
Comment[es]=Caracteriza la distorsión de las lentes
Comment[ca_ES@valencia]=Característiques de distorsió de lents
Comment[ca_ES.UTF-8@valencia]=Característiques de distorsió de lents
GenericName=Lens Calibrator
GenericName[es]=Calibrador de lentes
GenericName[ca_ES@valencia]=Calibratge de lents
GenericName[ca_ES.UTF-8@valencia]=Calibratge de lents
Categories=Graphics;
Exec=calibrate_lens_gui
TryExec=calibrate_lens_gui
Icon=hugin
StartupNotify=false
Terminal=false
Type=Application
Name[en_AU]=Hugin Calibrate Lens
Name[cs]=Hugin kalibrace objetivů
GenericName[cs]=Kalibrace objektivů
