[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Childsplay
Name[es]=Childsplay, juegos infantiles
Name[ca_ES.UTF-8@valencia]=Childsplay, jocs educatius
Name[ca_ES@valencia]=Childsplay, jocs educatius
Name[ca]=Childsplay, jocs educatius
Name[ca_ES]=Childsplay, jocs educatius
Comment=Suite of educational games for young children
Comment[es]=Conjunto de juegos educativos para niños
Comment[ca_ES.UTF-8@valencia]=Conjunt de jocs educatius infantils
Comment[ca_ES@valencia]=Conjunt de jocs educatius infantis
Comment[ca]=Conjunt de jocs educatius infantils
Comment[ca_ES]=Conjunt de jocs educatius infantils
GenericName=Childsplay
Type=Application
Exec=childsplay
Terminal=false
StartupNotify=false
Categories=Education;
Icon=childsplay
TryExec=/usr/games/childsplay
