[Desktop Entry]
Encoding=UTF-8
Name=CmapTools
Name[es]=CmapTools
Name[es_ES.UTF-8]=CmapTools
Name[ca@valencia]=CmapTools
Name[ca_ES@valencia]=CmapTools
Name[ca_ES.UTF-8@valencia]=CmapTools
Comment=Design and manage concept maps
Comment[es]=Diseña y gestiona mapas conceptuales
Comment[es_ES.UTF-8]=Diseña y gestiona mapas conceptuales
Comment[ca_ES@valencia]=Dissenya i gestiona mapes conceptuals
Comment[ca]=Dissenya i gestiona mapes conceptuals
Comment[ca@valencia]=Dissenya i gestiona mapes conceptuals
Comment[ca_ES.UTF-8@valencia]=Dissenya i gestiona mapes conceptuals
Icon=/usr/share/zero-lliurex-cmaptools/cmaptools.svg
Exec=/usr/share/IHMC_CmapTools/CmapTools
TryExec=/usr/share/IHMC_CmapTools/bin/CmapTools
Type=Application
Categories=Education
StartupNotify=false
