[Desktop Entry]
Encoding=UTF-8
Name=CmapTools
Comment=Multimedia educational activities: puzzles, associations, text exercises, crosswords, scrambled letters, etc.
Comment[ca_ES.UTF-8@valencia]=Activitats educatives multimèdia: puzzles, associacions, exercicis de text, mots encreuats, sopes de lletres i altres.
Comment[es]=Actividades educativas multimedia: puzzles, asociaciones, ejercicios de texto, crucigramas, sopas de letras, etc.
Comment[ca_ES@valencia]=Activitats educatives multimèdia: puzzles, associacions, exercicis de text, mots encreuats, sopes de lletres i altres.
Icon=cmaptools
Exec=/usr/share/IHMC_CmapTools/CmapTools
Type=Application
Categories=Application;Education
StartupNotify=false
TryExec=/usr/share/IHMC_CmapTools/CmapTools
