[Desktop Entry]
Name=Online Accounts
Name[ca@valencia]=Comptes en línia
Name[ca_ES@valencia]=Comptes en línia
Name[ca_ES.UTF-8@valencia]=Comptes en línia
Comment=Online account credentials and settings
Comment[ca@valencia]=Paràmetres i autenticació dels comptes en línia
Comment[ca_ES@valencia]=Paràmetres i autenticació dels comptes en línia
Comment[ca_ES.UTF-8@valencia]=Paràmetres i autenticació dels comptes en línia
Exec=credentials-preferences
TryExec=credentials-preferences
Icon=credentials-preferences
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=Unity
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-PersonalSettings;
X-Ubuntu-Gettext-Domain=credentials-control-center
