[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=ClusterSSH
Name[es]=ClusterSSH, administración remota múltiple
Name[ca_ES@valencia]=ClusterSSH, administració remota múltiple
Name[ca_ES.UTF-8@valencia]=ClusterSSH, administració remot
Name[ca]=ClusterSSH, administració remota múltiple
Name[ca_ES]=ClusterSSH, administració remota múltiple
Comment=Control multiple ssh or rsh sessions from a single input window
Comment[es]=Controla remotamente múltiples sesiones ssh o rsh desde un único ordenador
Comment[ca_ES@valencia]=Controla remotament múltiples sessions ssh o rsh des d'un únic ordinador
Comment[ca_ES.UTF-8@valencia]=Controla remotament múltiples sessions ssh o rsh des d'un únic ordinador
Comment[ca]=Controla remotament múltiples sessions ssh o rsh des d'un únic ordinador
Comment[ca_ES]=Controla remotament múltiples sessions ssh o rsh des d'un únic ordinador
GenericName=SSH/RSH Cluster Control Client
Exec=cssh
TryExec=cssh
Icon=clusterssh
Terminal=false
Type=Application
Categories=LliureX-Administration
