[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Foo YC20
Name[es]=Foo YC20
Name[ca_ES@valencia]=Foo YC20
Name[ca_ES.UTF-8@valencia]=Foo YC20
Name[ca]=Foo YC20
Name[ca_ES]=Foo YC20
Comment=Organ synthesizer
Comment[es]=Sintetizador de órgano
Comment[ca_ES@valencia]=Sintetitzador d'orgue
Comment[ca_ES.UTF-8@valencia]=Sintetitzador d'orgue
Comment[ca]=Sintetitzador d'orgue
Comment[ca_ES]=Sintetitzador d'orgue
GenericName=YC20
GenericName[es]=YC20
GenericName[ca_ES@valencia]=YC20
GenericName[ca_ES.UTF-8@valencia]=YC20
GenericName[ca]=YC20
GenericName[ca_ES]=YC20
Exec=foo-yc20
TryExec=foo-yc20
Icon=/usr/share/foo-yc20/graphics/icon.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio


