[Desktop Entry]
Name=Fritzing
Name[es]=Fritzing, un editor de circuitos electrónicos
Name[ca_ES@valencia]=Fritzing, un editor de circuits electrònics
Name[ca_ES.UTF-8@valencia]=Fritzing, un editor de circuits electrònics
Name[ca]=Fritzing, un editor de circuits electrònics
Name[ca_ES]=Fritzing, un editor de circuits electrònics
Comment[es]=Fritzing, un editor de circuitos electrónicos
Comment[ca_ES@valencia]=Fritzing, un editor de circuits electrònics
Comment[ca_ES.UTF-8@valencia]=Fritzing, un editor de circuits electrònics
Comment=PCB-Suite
Comment[ca]=Fritzing, un editor de circuits electrònics
Comment[ca_ES]=Fritzing, un editor de circuits electrònics
GenericName[en]=Easy-to-use electronic design software
GenericName[es]=Software de diseño electrónico de fácil uso
MimeType=text/pro
Exec=fritzing
TryExec=fritzing
Icon=fritzing_icon
Categories=Education;
Type=Application
Terminal=false
