[Desktop Entry]
Name=GeoGebra
Name[ca_ES.UTF-8@valencia]=GeoGebra, Programa de Matemàtiques Dinàmiques
Name[ca_ES@valencia]=GeoGebra, Programa de Matemàtiques Dinàmiques
Name[es]=GeoGebra, Programa de Matemàticas Dinámicas
GenericName=Dynamic mathematics software
GenericName[cs]=Dynamický matematický software
GenericName[de]=Dynamische Mathematiksoftware
GenericName[es]=Programa de matemáticas dinámico
GenericName[fr]=Logiciel de Mathématiques dynamiques
GenericName[hi]=सक्रिय गणितीय सॉफ्टवेर 
GenericName[it]=Software di matematica dinamica
GenericName[pt_BR]=Programa de Matemática Dinâmica

Comment=Create interactive mathematical constructions and applets. 
Comment[cs]=Vytvořte interaktivní konstrukce a aplety.
Comment[de]=Erstelle interaktive Konstruktionen und Applets.
Comment[fr]=Créer des constructions mathématiques et des appliquettes.
Comment[hi]=संवादात्मक गणितीय निर्माण और एप्लेट बनाएँ
Comment[it]=Creazione di costruzioni matematiche e applet interattive.
Comment[pt_BR]=Crie construções matemáticas interativas e applets.
Comment[es]=Crea construcciones y miniaplicaciones matemáticas interactivas.
Comment[ca_ES.UTF-8@valencia]=Crea construccions i miniaplicacions matemàtiques interactives.
Comment[ca_ES@vlaencia]=Crea construccions i miniaplicacions matemàtiques interactives.
Exec=geogebra %F
Icon=geogebra
Terminal=false
Type=Application
StartupNotify=true
Categories=LliureX-Laboratory;
MimeType=application/vnd.geogebra.file;application/vnd.geogebra.tool;
TryExec=geogebra
