[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gladish
Name[es]=gladish
Name[ca_ES@valencia]=gladish
Name[ca_ES.UTF-8@valencia]=gladish
Name[ca]=gladish
Name[ca_ES]=gladish
Comment=LADI Session Handler
Comment[es]=Gestior de sesion LADI
Comment[ca_ES@valencia]=Gestor de sessions LADI
Comment[ca_ES.UTF-8@valencia]=Gestor de sessions LADI
Comment[fr]=Gestionnaire de session LADI
Comment[pt]=Gerenciador de Sessões LADI
Comment[pt_BR]=Gerenciador de Sessões LADI
Comment[ru]=Управление сеансами LADI
Comment[ca]=Gestor de sessions LADI
Comment[ca_ES]=Gestor de sessions LADI
GenericName=LADI Session Handler
GenericName[es]=Gestor de sesiones LADI
GenericName[ca_ES@valencia]=Gestor de sessions LADI
GenericName[ca_ES.UTF-8@valencia]=Gestor de sessions LADI
GenericName[fr]=Gestionnaire de session LADI
GenericName[pt]=Gerenciador de Sessões LADI
GenericName[pt_BR]=Gerenciador de Sessões LADI
GenericName[ru]=Управление сеансами LADI
GenericName[ca]=Gestor de sessions LADI
GenericName[ca_ES]=Gestor de sessions LADI
Type=Application
Terminal=false
Exec=gladish
TryExec=gladish
Icon=gladish
Categories=AudioVideo;Audio;GNOME;
