[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Gmidimonitor (with JACK support)
Name[es]=Gmidimonitor (amb soporte de JACK)
Name[ca_ES@valencia]=Gmidimonitor (amb suport de JACK)
Name[ca_ES.UTF-8@valencia]=Gmidimonitor (amb suport de JACK)
Name[ca]=Gmidimonitor (amb suport de JACK)
Name[ca_ES]=Gmidimonitor (amb suport de JACK)
Comment=Analyse MIDI messages through JACK
Comment[es]=Monitoriza mensajes MIDI a traves de JACK
Comment[ca_ES@valencia]=Analitza missatges MIDI a través de JACK
Comment[ca_ES.UTF-8@valencia]=Analitza missatges MIDI a través de JACK
Comment[ca]=Analitza missatges MIDI a través de JACK
Comment[ca_ES]=Analitza missatges MIDI a través de JACK
GenericName=Gmidimonitor
GenericName[es]=Gmidimonitor
GenericName[ca_ES@valencia]=Gmidimonitor
GenericName[ca_ES.UTF-8@valencia]=Gmidimonitor
GenericName[ca]=Gmidimonitor
GenericName[ca_ES]=Gmidimonitor
Type=Application
Icon=gmidimonitor_32x32
Exec=gmidimonitor --jack
TryExec=gmidimonitor --jack
Terminal=false
Categories=AudioVideo;Music;
