[Desktop Entry]
Name=GPRename
Name[es]=Gprename, renombrador de ficheros
Name[ca_ES@valencia]=Gprename, reanomenador de fitxers
Name[ca_ES.UTF-8@valencia]=Gprename, reanomenador de fitxers
Name[ca]=Gprename, reanomenador de fitxers
Name[ca_ES]=Gprename, reanomenador de fitxers
Comment=To rename files and directories in batch
Comment[es]=Un programa para renombrar de manera masiva los ficheros
Comment[ca_ES@valencia]=Un programa per a reanomenar de manera massiva els fitxers
Comment[ca_ES.UTF-8@valencia]=Un programa per a reanomenar de manera massiva els fitxers
Comment[ca]=Un programa per a reanomenar de manera massiva els fitxers
Comment[ca_ES]=Un programa per a reanomenar de manera massiva els fitxers
GenericName=Files renamer
GenericName[es]=Renombrador masivo de ficheros
GenericName[ca_ES@valencia]=Reanomenador massiu de fitxers
GenericName[ca_ES.UTF-8@valencia]=Renomenador massiu de fitxers
GenericName[ca]=Reanomenador massiu de fitxers
GenericName[ca_ES]=Reanomenador massiu de fitxers



Exec=gprename
Icon=/usr/share/icons/gprename.png
Terminal=false
Type=Application
Categories=Utility;FileManager;
TryExec=gprename
