[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=gtk-recordMyDesktop
Name[ca_ES.UTF-8@valencia]=Gravació de l'escriptori
Name[ca_ES@valencia]=Gravació de l'escriptori
Name[es]=Grabación del escritorio
Name[ca]=Gravació de l'escriptori
Name[ca_ES]=Gravació de l'escriptori
Comment=Frontend for recordMyDesktop
Comment[fr]=Interface pour recordmydesktop
Comment[ca_ES.UTF-8@valencia]=Una interfície per a gravar l'escriptori
Comment[ca_ES@valencia]=Una interfície per a gravar l'escriptori
Comment[es]=Una interfaz para gabar el escritorio
Comment[ca]=Una interfície per a gravar l'escriptori
Comment[ca_ES]=Una interfície per a gravar l'escriptori
Exec=gtk-recordmydesktop
Terminal=false
Type=Application
Icon=gtk-recordmydesktop
StartupNotify=false
Categories=LliureX-Author-Tools;
TryExec=/usr/bin/gtk-recordmydesktop
