[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 6 Plugin Control Panel
Name[ca_ES@valencia]=Oracle Java 6, tauler de control
Name[ca_ES.UTF-8@valencia]=Oracle Java 6, tauler de control
Name[es]=Oracle Java 6, panel de control
Comment=Oracle Java 6 Plugin Control Panel
Comment[es]=Oracle Java 6, panel de control
Comment[ca_ES.UTF-8@valencia]=Oracle Java 6, tauler de control
Comment[ca_ES@valencia]=Oracle Java 6, tauler de control
Exec=/usr/lib/jvm/java-6-oracle/bin/ControlPanel
TryExec=/usr/lib/jvm/java-6-oracle/bin/ControlPanel
Terminal=false
Type=Application
Icon=oracle_java6
Keywords=Settings;
X-Desktop-File-Install-Version=0.22
X-GNOME-Settings-Panel=Oracle Java 6 Plugin Control Panel
X-Unity-Settings-Panel=Oracle Java 6 Plugin Control Panel
Categories=System;

