[Desktop Entry]
Encoding=UTF-8
X-Desktop-File-Install-Version=0.22
Name=Oracle Java 7 Plugin Control Panel
Name[ca_ES@valencia]=Oracle Java 7, tauler de control
Name[ca_ES.UTF-8@valencia]=Oracle Java 7, tauler de control
Name[es]=Oracle Java 7, panel de control
Name[ca]=Oracle Java 7, tauler de control
Name[ca_ES]=Oracle Java 7, tauler de control
Comment=Oracle Java 7 Plugin Control Panel
Comment[es]=Oracle Java 7, panel de control
Comment[ca_ES.UTF-8@valencia]=Oracle Java 7, tauler de control
Comment[ca_ES@valencia]=Oracle Java 7, tauler de control
Comment[ca]=Oracle Java 7, tauler de control
Comment[ca_ES]=Oracle Java 7, tauler de control
Exec=/usr/lib/jvm/java-7-oracle/bin/ControlPanel
TryExec=/usr/lib/jvm/java-7-oracle/bin/ControlPanel
Terminal=false
Type=Application
Icon=oracle_java7
Keywords=Settings;
X-GNOME-Settings-Panel=Oracle Java 7 Plugin Control Panel
X-Unity-Settings-Panel=Oracle Java 7 Plugin Control Panel
Categories=System

