[Desktop Entry]
Encoding=UTF-8
X-Desktop-File-Install-Version=0.22
Name=Oracle Java 7 Console
Name[ca_ES@valencia]=Oracle Java 7, consola
Name[ca_ES.UTF-8@valencia]=Oracle Java 7, consola
Name[es]=Oracle Java 7, consola
Name[ca]=Oracle Java 7, consola
Name[ca_ES]=Oracle Java 7, consola
Comment=Java Monitoring & Management Console
Comment[es]=Consola de monitorización y gestión de Java 7
Comment[ca_ES@valencia]=Consola de monitorització i gestió de Java 7
Comment[ca_ES.UTF-8@valencia]=Consola de monitorització i gestió de Java 7
Comment[ca]=Consola de monitorització i gestió de Java 7
Comment[ca_ES]=Consola de monitorització i gestió de Java 7
Exec=/usr/lib/jvm/java-7-oracle/bin/jconsole
TryExec=/usr/lib/jvm/java-7-oracle/bin/jconsole
Terminal=false
Type=Application
Icon=oracle_java7
X-GNOME-Settings-Panel=oracle_java7
Keywords=Settings;
X-GNOME-Settings-Panel=Oracle Java 7 Console
X-Unity-Settings-Panel=Oracle Java 7 Console
Categories=System;

