[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 9 Console
Name[ca_ES@valencia]=Oracle Java 9, consola
Name[ca_ES.UTF-8@valencia]=Oracle Java 9, consola
Name[es]=Oracle Java 9, consola
Comment=Java Monitoring & Management Console
Comment[es]=Consola de monitorización y gestión de Java 9
Comment[ca_ES@valencia]=Consola de monitorització i gestió de Java 9
Comment[ca_ES.UTF-8@valencia]=Consola de monitorització i gestió de Java 9
Exec=/usr/lib/jvm/java-9-oracle/bin/jconsole
TryExec=/usr/lib/jvm/java-9-oracle/bin/jconsole
Terminal=false
Type=Application
Icon=oracle_java9
X-GNOME-Settings-Panel=oracle_java9
Keywords=Settings;
X-Desktop-File-Install-Version=0.22
X-GNOME-Settings-Panel=Oracle Java 9 Console
X-Unity-Settings-Panel=Oracle Java 9 Console
Categories=System;

