[Desktop Entry]
Encoding=UTF-8
X-Desktop-File-Install-Version=0.22
Name=Oracle Java 6 Web Start
Name[ca_ES@valencia]=Oracle Java 6, per al web
Name[ca_ES.UTF-8@valencia]=Oracle Java 6, per al web
Name[es]=Oracle Java 6, para la web
Name[ca]=Oracle Java 6, per al web
Name[ca_ES]=Oracle Java 6, per al web
Comment=Oracle Java 6 Web Start
Comment[ca_ES@valencia]=Oracle Java 6, per al web
Comment[ca_ES.UTF-8@valencia]=Oracle Java 6, per al web
Comment[es]=Oracle Java 6, para la web
Comment[ca]=Oracle Java 6, per al web
Comment[ca_ES]=Oracle Java 6, per al web
Exec=/usr/lib/jvm/java-6-oracle/jre/bin/javaws %u
TryExec=/usr/lib/jvm/java-6-oracle/jre/bin/javaws %u
Terminal=false
Type=Application
Icon=oracle_java6
MimeType=application/x-java-jnlp-file;
X-GNOME-Settings-Panel=oracle_java6
Keywords=Settings;
X-GNOME-Settings-Panel=Oracle Java 6 Web Start
X-Unity-Settings-Panel=Oracle Java 6 Web Start
Categories=System

