[Desktop Entry]
Encoding=UTF-8
Name=Oracle Java 9 Policy Tool
Name[ca_ES@valencia]=Oracle Java 9, polítiques
Name[ca_ES.UTF-8@valencia]=Oracle Java 9, polítiques
Name[es]=Oracle Java 9, políticas
Comment=Oracle Java 9 Policy Tool
Comment[ca_ES@valencia]=Eina de gestió de polítiques Java 9
Comment[ca_ES.UTF-8@valencia]=Eina de gestió de polítiques Java 9
Comment[es]=Herramienta de gestión de políticas Java 9
Exec=/usr/lib/jvm/java-9-oracle/bin/policytool
TryExec=/usr/lib/jvm/java-9-oracle/bin/policytool
Terminal=false
Type=Application
Icon=oracle_java9
Keywords=Settings;
X-Desktop-File-Install-Version=0.22
X-GNOME-Settings-Panel=Oracle Java 9 Policy Tool
X-Unity-Settings-Panel=Oracle Java 9 Policy Tool
Categories=System;

