[Desktop Entry]
Encoding=UTF-8
Name=JClic Desktop
Name[ca]=JClicDesktop
Name[es]=JClicDesktop
Name[qcv]=JClicDesktop
Name[ca_ES.UTF-8@valencia]=JClicDesktop
Name[ca_ES]=JClicDesktop
Name[ca@valencia]=JClicDesktop
Comment=Tool to create and modify JClic projects
Comment[ca]=Eina per crear i modificar projectes JClic
Comment[es]=Herramienta para crear y modificar proyectos JClic
Comment[qcv]=Ferramenta per a crear i modificar projectes JClic
Comment[ca_ES.UTF-8@valencia]=Ferramenta per a crear i modificar projectes JClic
Comment[ca_ES]=Ferramenta per a crear i modificar projectes JClic
Comment[ca@valencia]=Ferramenta per a crear i modificar projectes JClic
Icon=jclic
Exec=jclicdesktop
TryExec=/usr/bin/jclicdesktop
Terminal=false
Type=Application
Categories=LliureX-Author-Tools;
StartupNotify=false
