[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=LADI Player
Name[es]=Reproductor de LADI
Name[ca_ES@valencia]=Reproductor de LADI
Name[ca_ES.UTF-8@valencia]=Reproductor de LADI
Name[ca]=Reproductor de LADI
Name[ca_ES]=Reproductor de LADI
Comment=Control LADI system
Comment[es]=Controla el sistema LADI
Comment[ca_ES@valencia]=Controla el sistema LADI
Comment[ca_ES.UTF-8@valencia]=Controla el sistema LADI
Comment[ca]=Controla el sistema LADI
Comment[ca_ES]=Controla el sistema LADI
GenericName=LADI system controller
Type=Application
Terminal=false
Exec=ladi-player
TryExec=ladi-player
Icon=ladi-player
Categories=GTK;AudioVideo;Audio;
Keywords=Audio;JACK;Player;Studio;
