[Desktop Entry]
Name=MATE System Monitor
Name[es]=Monitor del sistema de MATE
Name[ca_ES@valencia]=Monitor de sistema de MATE
Name[ca_ES.UTF-8@valencia]=Monitor de sistema de MATE
GenericName=System Monitor
GenericName[ca_ES@valencia]=Monitor del sistema
GenericName[ca_ES.UTF-8@valencia]=Monitor del sistema
GenericName[es]=Monitor del sistema
Comment=View current processes and monitor system state
Comment[ca_ES@valencia]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[ca_ES.UTF-8@valencia]=Visualitza els processos actuals i supervisa l'estat del sistema
Comment[es]=Vea los procesos actuales y monitorice el estado del sistema
TryExec=mate-system-monitor
Exec=mate-system-monitor
Icon=utilities-system-monitor
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;System;Monitor;
Keywords=MATE;system;monitor;process;list;view;current;resources;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=system-monitor
X-MATE-Bugzilla-Component=general
X-MATE-Bugzilla-Version=1.12.2

