[Desktop Entry]
Name=Assistive Technologies
Name[ca_ES@valencia]=Tecnologies d'assistència
Name[ca_ES.UTF-8@valencia]=Tecnologies d'assistència
Name[es]=Tecnologías de asistencia
Comment=Choose which accessibility features to enable when you log in
Comment[ca_ES@valencia]=Seleccioneu quines funcionalitats d'accessibilitat s'han d'habilitar en entrar
Comment[ca_ES.UTF-8@valencia]=Seleccioneu quines funcionalitats d'accessibilitat s'han d'habilitar en entrar
Exec=mate-at-properties
Icon=preferences-desktop-accessibility
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;
Keywords=mate-control-center;MATE;accessibility;features;
OnlyShowIn=MATE;
