[Desktop Entry]
Name=Sound
Name[ca_ES@valencia]=So
Name[ca_ES.UTF-8@valencia]=So
Name[es]=Sonido
Comment=Change sound volume and sound events
Comment[ca_ES@valencia]=Canvieu el volum del so i els sons dels esdeveniments
Comment[ca_ES.UTF-8@valencia]=Canvieu el volum del so i els sons dels esdeveniments
Comment[es]=Cambiar el volumen y los eventos de sonido
Exec=mate-volume-control
Icon=multimedia-volume-control
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;HardwareSettings;
Keywords=MATE;volume;control;mixer;settings;sound;events;
OnlyShowIn=MATE;
X-MATE-Bugzilla-Bugzilla=MATE
X-MATE-Bugzilla-Product=mate-media
X-MATE-Bugzilla-Component=mate-volume-control
X-MATE-Bugzilla-Version=1.12.1
