[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Meterbridge
Name[es]=Meterbridge
Name[ca_ES@valencia]=Meterbridge
Name[ca_ES.UTF-8@valencia]=Meterbridge
Name[ca]=Meterbridge
Name[ca_ES]=Meterbridge
Comment=Audio level meter for JACK
Comment[es]=Medidor del nivel de audio para JACK
Comment[ca_ES@valencia]=Mesurador del nivell d'àudio per al JACK
Comment[ca_ES.UTF-8@valencia]=Mesurador del nivell d'àudio per al JACK
Comment[ca]=Mesurador del nivell d'àudio per al JACK
Comment[ca_ES]=Mesurador del nivell d'àudio per al JACK
GenericName=Audio Level Meter
GenericName[es]=Medidor del nivel de audio
GenericName[ca_ES@valencia]=Mesurador del nivell d'àudio
GenericName[ca_ES.UTF-8@valencia]=Mesurador del nivell d'àudio
GenericName[ca]=Mesurador del nivell d'àudio
GenericName[ca_ES]=Mesurador del nivell d'àudio
Type=Application
Keywords=audio;sound;jackd;measure;meter;
Icon=meterbridge32x32.xpm
Exec=/usr/bin/meterbridge -t vu alsa_pcm:playback_1 alsa_pcm:playback_2
TryExec=/usr/bin/meterbridge -t vu alsa_pcm:playback_1 alsa_pcm:playback_2
Terminal=false
Categories=AudioVideo;Audio;
