[Desktop Entry]
Name=mkchromecast
Name[es]=mkchromecast
Name[ca_ES@valencia]=mkchromecast
Name[ca_ES.UTF-8@valencia]=mkchromecast
Name[ca]=mkchromecast
Name[ca_ES]=mkchromecast
Comment=Cast your Linux audio to your Google cast device
Comment[es]=Transmite tu audio de Linux a tu dispositivo Google Cast
Comment[ca_ES@valencia]=Transmet el teu àudio de Linux al teu dispositiu Google Cast
Comment[ca_ES.UTF-8@valencia]=Transmet el teu àudio de Linux al teu dispositiu Google Cast
Comment[ca]=Transmet el teu àudio de Linux al teu dispositiu Google Cast
Comment[ca_ES]=Transmet el teu àudio de Linux al teu dispositiu Google Cast
Exec=/usr/bin/mkchromecast -t
TryExec=/usr/bin/mkchromecast
Terminal=false
Type=Application
Icon=mkchromecast
Categories=AudioVideo;Audio;
Keywords=audio;chromecast;google;cast;pychromecast;
