[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Mudita24
Name[es]=Mudita24
Name[ca_ES@valencia]=Mudita24
Name[ca_ES.UTF-8@valencia]=Mudita24
Name[ca]=Mudita24
Name[ca_ES]=Mudita24
GenericName=ALSA GUI control tool for Envy24 (ice1712) soundcards
GenericName[es]=Herramienta de control ALSA GUI para tarjetas de sonido Envy24 (ice1712)
GenericName[ca_ES@valencia]=Eina de control ALSA GUI per a targetes de so Envy24 (ice1712)
GenericName[ca_ES.UTF-8@valencia]=Eina de control ALSA GUI per a targetes de so Envy24 (ice1712)
GenericName[ca]=Eina de control ALSA GUI per a targetes de so Envy24 (ice1712)
GenericName[ca_ES]=Eina de control ALSA GUI per a targetes de so Envy24 (ice1712)
Type=Application
Icon=mudita24
Exec=mudita24
TryExec=mudita24
Categories=AudioVideo;Audio;
