[Desktop Entry]
Version=1.0
Name=OBS
Name[es]=OBS
Name[ca_ES@valencia]=OBS
Name[ca_ES.UTF-8@valencia]=OBS
Name[ca]=OBS
Name[ca_ES]=OBS
Comment=Free and Open Source Streaming/Recording Software
Comment[es]=Software libre y de código abierto para la grabación de video y transmisión en vivo
Comment[ca_ES@valencia]=Programari lliure i de codi obert per a la gravació de vídeo i transmissió en viu
Comment[ca_ES.UTF-8@valencia]=Programari lliure i de codi obert per a la gravació de vídeo i transmissió en viu
Comment[ru]=Бесплатная программа с открытым кодом для записи/трансляции видео
Comment[ca]=Programari lliure i de codi obert per a la gravació de vídeo i transmissió en viu
Comment[ca_ES]=Programari lliure i de codi obert per a la gravació de vídeo i transmissió en viu
GenericName=Streaming/Recording Software
Exec=obs
TryExec=obs
Icon=obs
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
StartupNotify=true
