[Desktop Entry]
Name=Onboard Settings
Name[ca_ES@valencia]=Configuració de l'Onboard
Name[ca_ES.UTF-8@valencia]=Configuració de l'Onboard
GenericName=Onboard onscreen keyboard settings
GenericName[ca_ES@valencia]=Configuració del teclat en pantalla Onboard
GenericName[ca_ES.UTF-8@valencia]=Configuració del teclat en pantalla Onboard
Comment=Change Onboard settings
Comment[ca_ES@valencia]=Canvieu la configuració de l'Onboard
Comment[ca_ES.UTF-8@valencia]=Canvieu la configuració de l'Onboard
Exec=onboard-settings
Terminal=false
Type=Application
Categories=Settings;
#NotShowIn=GNOME;
#NotShowIn=GNOME;Unity;
NoDisplay=false
MimeType=application/x-onboardsettings;
Icon=onboard
X-Ubuntu-Gettext-Domain=onboard
