[Desktop Entry]
Name=OpenJDK Java 8 Policy Tool
Name[es]=OpenJDK Java 8, políticas
Name[ca_ES@valencia]=OpenJDK Java 8, polítiques
Name[ca_ES.UTF-8@valencia]=OpenJDK Java 8, polítiques
Name[fi]=OpenJDK Java 8 - käytäntötyökalu
Name[fr]=OpenJDK Java 8 - Outil de réglage
Name[ca]=OpenJDK Java 8, polítiques
Name[ca_ES]=OpenJDK Java 8, polítiques
Comment=OpenJDK Java 8 Policy Tool
Comment[es]=Herramienta de gestión de políticas OpenJDK Java 8
Comment[ca_ES@valencia]=Eina de gestió de polítiques OpenJDK Java 8
Comment[ca_ES.UTF-8@valencia]=Eina de gestió de polítiques OpenJDK Java 8
Comment[fi]=OpenJDK Java 8 - käytäntötyökalu
Comment[fr]=OpenJDK Java 8 - Outil de réglage
Comment[ca]=Eina de gestió de polítiques OpenJDK Java 8
Comment[ca_ES]=Eina de gestió de polítiques OpenJDK Java 8
Keywords=java;security;policytool
Exec=/usr/lib/jvm/java-8-openjdk-amd64/bin/policytool "" /usr/lib/jvm/java-8-openjdk-i386/bin/policytool;
TryExec=/usr/lib/jvm/java-8-openjdk-amd64/bin/policytool "" /usr/lib/jvm/java-8-openjdk-i386/bin/policytool;
Terminal=false
Type=Application
Icon=openjdk-8
Categories=System;
