[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Hydrogen
Name[es]=Hydrogen
Name[ca@valencia]=Hydrogen
Name[ca_ES@valencia]=Hydrogen
Name[ca_ES.UTF-8@valencia]=Hydrogen
Name[ca]=Hydrogen
Name[ca_ES]=Hydrogen
Comment=Create drum sequences
Comment[es]=Creador de secuencias de tambor
Comment[ca@valencia]=Crea seqüències de tambor
Comment[ca_ES@valencia]=Crea seqüències de tambor
Comment[ca_ES.UTF-8@valencia]=Crea seqüències de tambor
Comment[de]=Schlagzeugsequenzen erstellen
Comment[ru]=Создание партий ударных инструментов
Comment[hu]=Dobszekvenciákat lehet vele készíteni
Comment[tr]=Davul partisyonu yaz
Comment[ca]=Crea seqüències de tambor
Comment[ca_ES]=Crea seqüències de tambor
GenericName=Drum Machine
GenericName[es]=Secuenciador de tambor
GenericName[ca_ES@valencia]=Drum Machine
GenericName[ca@valencia]=Drum Machine
GenericName[ca_ES.UTF-8@valencia]=Drum Machine
GenericName[de]=Drumsequencer
GenericName[ru]=Драм-машина
GenericName[tr]=Davul Makinası
GenericName[ca]=Drum Machine
GenericName[ca_ES]=Drum Machine


Type=Application
Categories=AudioVideo;Audio;Qt;
Keywords=audio;sound;jackd;sampler;drum;

MimeType=text/xml;

Exec=hydrogen %F
TryExec=hydrogen
Terminal=false
StartupNotify=true

Icon=org.hydrogenmusic.Hydrogen
