[Desktop Entry]
Version=1.0
Encoding=UTF-8
Exec=phatch -n %U
TryExec=phatch -n %U
Icon=phatch-inspector
Terminal=false
Type=Application
Categories=Graphics;Photography;GTK;
StartupNotify=true
MimeType=application/x-phatch;image/bmp;image/gif;image/jpeg;image/jpg;image/png;image/tiff;image/x-bmp;image/x-pcx;image/x-png;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-psd;image/x-sun-raster;image/x-tga;image/x-xbitmap;image/x-xpixmap;application/pcx;
Name=Phatch Image Inspector
Name[es]=Phatch Image Inspector
Name[ca_ES@valencia]=Phatch Image Inspector
Name[ca_ES.UTF-8@valencia]=Phatch Image Inspector
GenericName=Image Inspector
GenericName[es]=Inspector de imagenes
GenericName[ca_ES@valencia]=Inspector d'imatges
GenericName[ca_ES.UTF-8@valencia]=Inspector d'imatges
Comment=Easily inspect EXIF and IPTC metadata
Comment[es]=Inspecciona fácilmente metadatos EXIF y IPTC
Comment[ca_ES@valencia]=Inspecciona fàcilment metadades EXIF i IPTC
Comment[ca_ES.UTF-8@valencia]=Inspecciona fàcilment metadades EXIF i IPTC

