[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Hugin Batch Processor
Name[es]=Procesador de lotes Hugin
Name[ca_ES@valencia]=Processador de lots Hugin
Name[ca_ES.UTF-8@valencia]=Processador de lots Hugin
Name[ru]=Графический интерфейс к PTBatcher
Name[fr]=Hugin - Interface grahique pour le traitement par lots PTBatcher
Name[it]=Hugin - Elaboratore in serie
Name[de]=Hugin - Stapelverarbeitung
Name[hu]=Hugin kötegelt feldolgozó
Name[cs]=Hugin - Dávkový zpracovatel
Name[ca]=Processador de lots Hugin
Name[ca_ES]=Processador de lots Hugin
Comment=Hugin project stitching queue manager
Comment[es]=Gestor de cola del proyecto Hugin
Comment[ca_ES@valencia]=Gestor de cua del projecte Hugin
Comment[ca_ES.UTF-8@valencia]=Gestor de cua del projecte Hugin
Comment[fr]=Gérer la file d'attente des projets Hugin d'assemblage
Comment[it]=Gestisce la coda dei progetti di Hugin
Comment[de]=Stapelverarbeitung für die Panoramaerstellung
Comment[hu]=Hugin projekt összefűző sor kezelő
Comment[cs]=Správce fronty úloh pro Hugin
Comment[ca]=Gestor de cua del projecte Hugin
Comment[ca_ES]=Gestor de cua del projecte Hugin
GenericName=Panorama batch processor GUI
GenericName[es]=GUI para el procesador de lotes de panorámicas
GenericName[ca_ES@valencia]=GUI per al processador per lots de panoràmiques
GenericName[ca_ES.UTF-8@valencia]=GUI per al processador per lots de panoràmiques
GenericName[ru]=Пакетная сборка панорам
GenericName[fr]=Interface graphique pour le traitement par lots de panoramas
GenericName[it]=Interfaccia grafica per l'elaborazione in serie dei progetti di Hugin
GenericName[de]=Panorama Stapelverarbeitung
GenericName[hu]=Panoráma kötegelt feldolgozó GUI
GenericName[cs]=Dávkové zpracování panoramat
GenericName[ca]=GUI per al processador per lots de panoràmiques
GenericName[ca_ES]=GUI per al processador per lots de panoràmiques
Categories=Graphics;
Exec=PTBatcherGUI %F
TryExec=PTBatcherGUI %F
Icon=ptbatcher
StartupNotify=false
Terminal=false
Type=Application
MimeType=application/x-ptoptimizer-script;
