[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=PyKaraoke Mini
Name[es]=PyKaraoke Mini
Name[ca_ES@valencia]=PyKaraoke Mini
Name[ca_ES.UTF-8@valencia]=PyKaraoke Mini
Name[ca]=PyKaraoke Mini
Name[ca_ES]=PyKaraoke Mini
Comment=Minimum-interface PyKaraoke
Comment[es]=Interfaz mínima del PyKaraoke
Comment[ca_ES@valencia]=Interfície mínima del PyKaraoke
Comment[ca_ES.UTF-8@valencia]=Interfície mínima del PyKaraoke
Comment[ca]=Interfície mínima del PyKaraoke
Comment[ca_ES]=Interfície mínima del PyKaraoke
GenericName=Karaoke player
GenericName[es]=Reproductor para karaoke
GenericName[ca_ES@valencia]=Reproductor per a karaoke
GenericName[ca_ES.UTF-8@valencia]=Reproductor per a karaoke
GenericName[ca]=Reproductor per a karaoke
GenericName[ca_ES]=Reproductor per a karaoke
Type=Application
Icon=/usr/share/pykaraoke/icons/pykaraoke.xpm
Exec=pykaraoke_mini
TryExec=pykaraoke_mini
Terminal=false
MimeType=audio/x-karaoke;audio/x-midi;audio/midi;
Categories=AudioVideo;Player;
