[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=QjackCtl
Name[es]=QjackCtl
Name[ca_ES@valencia]=QjackCtl
Name[ca_ES.UTF-8@valencia]=QjackCtl
Name[ca]=QjackCtl
Name[ca_ES]=QjackCtl
Comment=QjackCtl is a JACK Audio Connection Kit Qt GUI Interface
Comment[es]=QjackCtl es una GUI basada en Qt para el equipo de conexión de audio JACK
Comment[ca_ES@valencia]=QjackCtl és una GUI basada en Qt per a l'equip de connexió d'àudio JACK
Comment[ca_ES.UTF-8@valencia]=QjackCtl és una GUI basada en Qt per a l'equip de connexió d'àudio JACK
Comment[de]=Grafisches Werkzeug zur Steuerung des JACK-Audio-Systems
Comment[fr]=QjackCtl est une interface graphique Qt pour le kit de connexion audio JACK
Comment[it]=QjackCtl è un'interfaccia di controllo per JACK basata su Qt
Comment[ru]=Программа для управления звуковым сервером JACK
Comment[ca]=QjackCtl és una GUI basada en Qt per a l'equip de connexió d'àudio JACK
Comment[ca_ES]=QjackCtl és una GUI basada en Qt per a l'equip de connexió d'àudio JACK
GenericName=JACK Control
GenericName[es]=Control de JACK
GenericName[ca_ES@valencia]=Control de JACK
GenericName[ca_ES.UTF-8@valencia]=Control de JACK
GenericName[de]=JACK-Steuerung
GenericName[fr]=Contrôle JACK
GenericName[it]=Interfaccia di controllo per JACK
GenericName[ru]=Управление JACK
GenericName[ca]=Control de JACK
GenericName[ca_ES]=Control de JACK
Exec=/usr/bin/qjackctl
TryExec=/usr/bin/qjackctl
Icon=qjackctl
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Keywords=Audio;MIDI;ALSA;JACK;LV2;Qt;
Terminal=false
Type=Application
X-SuSE-translate=true
