[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Qmidiroute
Name[es]=Qmidiroute
Name[ca_ES@valencia]=Qmidiroute
Name[ca_ES.UTF8-8@valencia]=Qmidiroute
Name[ca]=Qmidiroute
Name[ca_ES]=Qmidiroute
Comment=Midi Router
Comment[es]=Router Midi
Comment[ca_ES@valencia]=Router Midi
Comment[ca_ES.UTF-8@valencia]=Router Midi
Comment[ca]=Router Midi
Comment[ca_ES]=Router Midi
GenericName=qmidiroute
GenericName[es]=qmidiroute
GenericName[ca_ES@valencia]=qmidiroute
GenericName[ca_ES.UTF-8@valencia]=qmidiroute
GenericName[ca]=qmidiroute
GenericName[ca_ES]=qmidiroute
Type=Application
Keywords=route;jackd;midi;
Icon=qmidiroute_32x32
TryExec=qmidiroute
Exec=qmidiroute
Terminal=false
Categories=AudioVideo;AudioVideoEditing;Music;
