[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Categories=AudioVideo;X-Sound;Midi;Audio;AudioVideoEditing;X-Jack;X-Midi;
Name=QMidiArp
Name[es]=QMidiArp
Name[ca_ES@valencia]=QMidiArp
Name[ca_ES.UTF-8@valencia]=QMidiArp
Name[de]=QMidiArp
Name[fr]=QMidiArp
Name[ru]=QMidiArp
GenericName=Arpeggiator-Sequencer-LFO
GenericName[es]=Arpegiador-secuenciador-LFO
GenericName[ca_ES@valencia]=Arpegiador-secuenciador-LFO
GenericName[ca_ES.UTF-8@valencia]=Arpegiador-secuenciador-LFO

GenericName[de]=Arpeggiator-Sequenzer-LFO
GenericName[fr]=Arpégiateur-Séquenceur-LFO
GenericName[ru]=Арпеджиатор, секвенсер и LFO
Comment=Arpeggiator-Sequencer-LFO
Comment[es]=Arpegiador-secuenciador-LFO
Comment[ca_ES@valencia]=Arpegiador-secuenciador-LFO
Comment[ca_ES.UTF-8@valencia]=Arpegiador-secuenciador-LFO
Comment[de]=Arpeggiator-Sequenzer-LFO
Comment[fr]=Arpégiateur-Séquenceur-LFO
Comment[ru]=Арпеджиатор, секвенсер и LFO
Keywords=audio;sound;jackd;midi;arpeggiator;
Icon=qmidiarp
MimeType=application/qma;application/qmax;
Exec=qmidiarp %F
TryExec=qmidiarp
Terminal=false
StartupNotify=true
