[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Qmidiroute
Name[es]=Qmidiroute
Name[ca_ES@valencia]=Qmidiroute
Name[ca_ES.UTF8-8@valencia]=Qmidiroute
GenericName=qmidiroute
GenericName[es]=qmidiroute
GenericName[ca_ES@valencia]=qmidiroute
GenericName[ca_ES.UTF-8@valencia]=qmidiroute
Comment=Midi Router
Comment[es]=Router Midi
Comment[ca_ES@valencia]=Router Midi
Comment[ca_ES.UTF-8@valencia]=Router Midi
Keywords=route;jackd;midi;
Icon=qmidiroute_32x32
TryExec=qmidiroute
Exec=qmidiroute
Terminal=false
Categories=AudioVideo;AudioVideoEditing;Music;
