[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Rapid Photo Downloader
Name[es]=Descargador rápido de fotos
Name[ca_ES@valencia]=Baixador ràpid de fotos
Name[ca_ES.UTF-8@valencia]=Baixador ràpid de fotos
GenericName=Rapid Photo Downloader
GenericName[es]=Descargador rápido de fotos
GenericName[ca_ES@valencia]=Baixador ràpid de fotos
GenericName[ca_ES.UTF-8@valencia]=Baixador ràpid de fotos
Comment=Download photos and videos from cameras, memory cards and Portable Storage Devices
Comment[es]=Descarga fotos y videos desde cámaras, tarjetas de memoria y dispositivos de almacenamiento portátil
Comment[ca_ES@valencia]=Baixa fotos i vídeos des de càmeres, targetes de memòria i dispositius d'emmagatzematge portàtil
Comment[ca_ES.UTF-8@valencia]=Baixa fotos i vídeos des de càmeres, targetes de memòria i dispositius d'emmagatzematge portàtil
Exec=rapid-photo-downloader
TryExec=rapid-photo-downloader
Icon=rapid-photo-downloader
MimeType=x-content/image-dcf;
Terminal=false
Type=Application
Categories=Graphics;Photography;
Keywords=photo;download;graphics;photography;
