[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Rosegarden
Name[ca_ES@valencia]=Rosegarden
Name[ca_ES.UTF-8@valencia]=Rosegarden
Name[ca]=Rosegarden
Name[ca_ES]=Rosegarden
Comment=MIDI and Audio Sequencer and Notation Editor
Comment[ca_ES@valencia]=Seqüenciador d'àudio i MIDI i editor de partitures
Comment[ca_ES.UTF-8@valencia]=Seqüenciador d'àudio i MIDI i editor de partitures
Comment[de]=MIDI- und Audio-Sequencer und Notensatzprogramm
Comment[es]=Secuenciador de MIDI y de audio y editor de partitura
Comment[fr]=Séquenceur MIDI/audio et éditeur de partitions
Comment[ru]=MIDI-секвенсер и нотный редактор
Comment[ca]=Seqüenciador d'àudio i MIDI i editor de partitures
Comment[ca_ES]=Seqüenciador d'àudio i MIDI i editor de partitures
GenericName=Sequencer and Notation Editor
GenericName[ca_ES@valencia]=Seqüenciador i editor de partitures
GenericName[ca_ES.UTF-8@valencia]=Seqüenciador i editor de partitures
GenericName[de]=Sequencer und Notensatzprogramm
GenericName[es]=Secuenciador y editor de partitura
GenericName[fr]=Séquenceur et éditeur de partitions
GenericName[ru]=секвенсер и нотный редактор
GenericName[ca]=Seqüenciador i editor de partitures
GenericName[ca_ES]=Seqüenciador i editor de partitures
Type=Application
Categories=AudioVideo;Audio;Midi;Sequencer;X-SuSE-Sequencer;X-Red-Hat-Base;
Exec=rosegarden %f
TryExec=rosegarden %f
MimeType=audio/x-rosegarden-composition;audio/x-rosegarden-device;audio/x-rosegarden-project;audio/x-rosegarden-template;audio/midi;
X-KDE-NativeMimeType=audio/x-rosegarden-composition
Icon=rosegarden
Terminal=false
