[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=SciTE Text Editor
Name[fr]=Éditeur de texte SciTE
Name[ru]=Текстовый редактор SciTE
Name[es]=SciTE, editor de textos
Name[ca_ES.UTF-8@valencia]=SciTE, editor de textos
Name[ca_ES@valencia]=SciTE, editor de textos
Name[ca]=SciTE, editor de textos
Name[ca_ES]=SciTE, editor de textos
Comment=Edit your source files
Comment[es]=Edita especializado para programación
Comment[fr]=Éditer des fichiers sources
Comment[en_GB]=Programming editor
Comment[es]=Editor especializado para programación
Comment[ca_ES.UTF-8@valencia]=Editor especialitzat per a programadors
Comment[ca_ES@valencia]=Editor especialitzat per a programadors
Comment[ru]=Редактор исходных кодов
Comment[ca]=Editor especialitzat per a programadors
Comment[ca_ES]=Editor especialitzat per a programadors
GenericName=Text Editor
Type=Application
Exec=SciTE %F
TryExec=SciTE
Icon=scite
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;Utility;TextEditor;
MimeType=text/plain;
