[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Scratch
Name[es]=Scratch, programación visual
Name[ca_ES@valencia]=Scratch, programació visual
Name[ca_ES.UTF-8@valencia]=Scratch, programació visual
Name[ca]=Scratch, programació visual
Name[ca_ES]=Scratch, programació visual
Comment= Programming system and content development tool
Comment[es]=Sistema de programación visual para la educación
Comment[ca_ES@valencia]=Sistema de programació visual per a l'educació
Comment[ca_ES.UTF-8@valencia]=Sistema de programació visual per a l'educació
Comment[ca]=Sistema de programació visual per a l'educació
Comment[ca_ES]=Sistema de programació visual per a l'educació
Type=Application
Exec=scratch %f
TryExec=scratch
Icon=scratch
Terminal=false
Categories=Application;Education;LliureX-Computational-Thinking;
MimeType=application/x-scratch-project
