[Desktop Entry]
Version=1.0
Name=Shotwell
Name[es]=Shotwell, organizador de fotos
Name[ca_ES@valencia]=Shotwell, organitzador de fotos
Name[ca_ES.UTF-8@valencia]=Shotwell, organitzador de fotos 
X-GNOME-FullName=Shotwell Photo Manager
X-GNOME-FullName[ca_ES@valencia]=Shotwell, organitzador de fotos
X-GNOME-FullName[ca_ES.UTF-8@valencia]=Shotwell, organitzador de fotos
Name[ca]=Shotwell, organitzador de fotos
Name[ca_ES]=Shotwell, organitzador de fotos
Comment=Organize your photos
Comment[es]=Organizador de fotos personal
Comment[ca_ES@valencia]=Organitzador de fotos personal
Comment[ca_ES.UTF-8@valencia]=Organitzador de fotos personal
Comment[ca]=Organitzador de fotos personal
Comment[ca_ES]=Organitzador de fotos personal
GenericName=Photo Manager
GenericName[es]=Shotwell, organizador de fotos
GenericName[ca_ES@valencia]=Shotwell, organitzador de fotos
GenericName[ca_ES.UTF-8@valencia]=Shotwell, organitzador de fotos
GenericName[ca]=Shotwell, organitzador de fotos
GenericName[ca_ES]=Shotwell, organitzador de fotos
Exec=shotwell %U
TryExec=shotwell
Icon=shotwell
Terminal=false
Type=Application
MimeType=x-content/image-dcf;
Categories=Graphics;Photography;GNOME;GTK;
X-GIO-NoFuse=true
X-GNOME-Gettext-Domain=shotwell
X-Ayatana-Appmenu-Show-Stubs=false
