[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Subtitle Editor
Name[ca_ES@valencia]=Editor de subtítols
Name[ca_ES.UTF-8@valencia]=Editor de subtítols
Name=Subtitle Editor
Name[bg]=Редктор на субтитри
Name[cs]=Titulkový editor
Name[el]=Subtitle Editor
Name[en_GB]=Subtitle Editor
Name[eo]=Subtekstredaktilo
Name[es]=Editor de Subtítulos
Name[fr]=Éditeur de sous-titres
Name[gl]=Subtitle Editor
Name[hu]=Subtitle Editor
Name[it]=Subtitle Editor
Name[lt]=Subtitrų tvarkyklė
Name[pl]=Edytor Napisów
Name[pt_BR]=Editor de Legendas
Name[ru]=Редактор субтитров
Name[sr]=Уређивач превода
Name[tr]=Altyazı düzenleyici
Name[zh_CN]=字幕编辑器
Name[zh_TW]=字幕編輯器
Name[ca]=Editor de subtítols
Name[ca_ES]=Editor de subtítols
Comment=A subtitle editor based on GStreamer and Gtk+
Comment[ca_ES@valencia]=Un editor de subtítols basat en GStreamer i Gtk+
Comment[ca_ES.UTF-8@valencia]=Un editor de subtítols basat en GStreamer i Gtk+
Comment[bg]=Редактор на субтитри, базиращ се на GStreamer и Gtk+
Comment[cs]=Titulkový editor založený na GStreameru and GTK+
Comment[el]=Ένας επεξεργαστής υπότιτλων βασισμένος σε GStreamer και Gtk+
Comment[en_GB]=A subtitle editor based on GStreamer and Gtk+
Comment[eo]=Redaktilo por subtekstoj bazita je GStreamer kaj Gtk+
Comment[es]=Un editor de subtítulos basado en GStreamer y Gtk+
Comment[fr]=Un éditeur de sous-titres basé sur GStreamer et Gtk+
Comment[gl]=Un editor de subtítulos basado en GStreamer e Gtk+
Comment[lt]=Subtitrų tvarkyklė paremta GStreamer ir Gtk+
Comment[pl]=Edytor napisów oparty o GStreamera i GTK+
Comment[pt_BR]=Um editor de legendas baseado no GStreamer e no Gtk+
Comment[ru]=Редактор субтитров на базе GStreamer и Gtk+
Comment[tr]=GStreamer ve Gtk+ üzerine geliştirilmiş altyazı düzenleyicisi
Comment[zh_CN]=一个基于 GStreamer 和 Gtk+ 的字幕编辑器
Comment[zh_TW]=一個基於 GStreamer 和 Gtk+ 的字幕編輯器
Comment[ca]=Un editor de subtítols basat en GStreamer i Gtk+
Comment[ca_ES]=Un editor de subtítols basat en GStreamer i Gtk+
GenericName=Subtitle Editor
GenericName[ca_ES@valencia]=Editor de subtítols
GenericName[ca_ES.UTF-8@valencia]=Editor de subtítols
GenericName[ca]=Editor de subtítols
GenericName[ca_ES]=Editor de subtítols
Exec=subtitleeditor %F
TryExec=subtitleeditor %F
Terminal=false
Type=Application
Icon=subtitleeditor
Categories=Video;AudioVideo;AudioVideoEditing;
StartupNotify=true
MimeType=application/x-microdvd;application/x-subrip;application/x-subviewer;text/x-mpsub;text/x-ssa;
