[Desktop Entry]
Name=Synfig Studio
Name[es]=Synfig Studio,  un editor 2D
Name[ca_ES@valencia]=Synfig Studio,  un editor 2D
Name[ca_ES.UTF-8@valencia]=Synfig Studio,  un editor 2D
Comment=Create and edit 2D animations and compositions
Comment[es]=Crea y edita composiciones y animaciones 2D
Comment[ca_ES@valencia]=Crea i edita composicions i animacions 2D
Comment[ca_ES.UTF-8@valencia]=Crea i edita composicions i animacions 2D
Comment[fr]=Créer et éditer des animations et compositions 2D
Comment[ru]=Создание двухмерной анимации
Exec=synfigstudio %F
TryExec=synfigstudio
Terminal=false
Type=Application
Icon=synfig_icon
Categories=GTK;Graphics;2DGraphics;VectorGraphics;
StartupNotify=true
MimeType=application/x-sif;
