[Desktop Entry]
Name=TuxMath
Comment=Math Training Game
Exec=tuxmath
Terminal=false
Type=Application
Name[ca_ES.UTF-8@valencia]=TuxMath, joc de matemàtiques
Name[ca_ES@valencia]=TuxMath, joc de matemàtiques
Comment[ca_ES.UTF-8@valencia]=Joc de matemàtiques
Comment[ca_ES@valencia]=Joc de matemàtiques
Name[es]=TuxMath, juego de matemáticas
Comment[es]=Juego de matemáticas
Categories=Application;Education;2DGraphics;
Icon=tuxmath
TryExec=/usr/games/tuxmath
