[Desktop Entry]
Name=Tux Typing
Name[ca_ES.UTF-8@valencia]=TuxType, joc de mecanografia
Name[ca_ES@valencia]=TuxType, joc de mecanografia
Name[es]=TuxType, juego de mecanografía
Name[ca]=TuxType, joc de mecanografia
Name[ca_ES]=TuxType, joc de mecanografia
Comment=Educational typing tutor game starring Tux
Comment[ca_ES.UTF-8@valencia]=Joc per a aprendre mecanografia
Comment[ca_ES]=Joc per a aprendre mecanografia
Comment[es]=Juego para aprender mecanografía
Comment[ca]=Joc per a aprendre mecanografia
Comment[ca_ES]=Joc per a aprendre mecanografia
GenericName=Educational typing game
Exec=tuxtype
Terminal=false
Type=Application
StartupNotify=true
#X-Ubuntu-Gettext-Domain=tuxtype
Categories=LliureX-Infantil;
Icon=tuxtype
TryExec=/usr/games/tuxtype
