[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Ubuntu Studio Controls
Name[es]=Controles de Ubuntu Studio
Name[ca_ES@valencia]=Controls de l'Ubuntu Studio
Name[ca_ES.UTF-8@valencia]=Controls de l'Ubuntu Studio
Name[ca]=Controls de l'Ubuntu Studio
Name[ca_ES]=Controls de l'Ubuntu Studio
Comment=Administer realtime privilege for users
Comment[es]=Administra privilegios en tiempo real para los usuarios
Comment[ca_ES@valencia]=Administra privilegis en temps real per als usuaris
Comment[ca_ES.UTF-8@valencia]=Administra privilegis en temps real per als usuaris
Comment[ca]=Administra privilegis en temps real per als usuaris
Comment[ca_ES]=Administra privilegis en temps real per als usuaris
GenericName=Realtime Audio Administrator
GenericName[es]=Administrador de audio en tiempo real
GenericName[ca_ES@valencia]=Administrador d'àudio en temps real
GenericName[ca_ES.UTF-8@valencia]=Administrador d'àudio en temps real
GenericName[ca]=Administrador d'àudio en temps real
GenericName[ca_ES]=Administrador d'àudio en temps real
Exec=ubuntustudio-controls-pkexec
TryExec=ubuntustudio-controls-pkexec
Icon=ubuntustudio-controls
Terminal=false
Type=Application
Categories=GTK;System;Settings
