[Desktop Entry]
Name=Software Updater
Name[ca_ES@valencia]=Actualitzador de programari
Name[ca_ES.UTF-8@valencia]=Actualitzador de programari
GenericName=Software Updates
GenericName[ca_ES@valencia]=Actualitzacions de programari
GenericName[ca_ES.UTF-8@valencia]=Actualitzacions de programari
Comment=Show and install available updates
Comment[ca_ES@valencia]=Mostra i instal·la les actualitzacions dispobnibles
Comment[ca_ES.UTF-8@valencia]=Mostra i instal·la les actualitzacions disponibles
Exec=gksu /usr/bin/update-manager
Icon=system-software-update
Terminal=false
Type=Application
Categories=System;
X-Ubuntu-Gettext-Domain=update-manager
X-Unity-IconBackgroundColor=#4c9e
