[Desktop Entry]
Name=Startup Disk Creator
Name[es]=Creador de discos de arranque
Name[ca_ES@valencia]=Creador de discos d'arrancada
Name[ca_ES.UTF-8@valencia]=Creador de discos d'arrancada
GenericName=Startup Disk Creator
Comment=Create a startup disk using a CD or disc image
Comment[es]=Crea un disco de arranque a partir de un CD o una imagen
Comment[ca_ES@valencia]=Creeu un disc d'arrancada a partir d'un CD o una imatge
Comment[ca_ES.UTF-8@valencia]=Creeu un disc d'arrancada a partir d'un CD o una imatge
Exec=usb-creator-gtk
TryExec=usb-creator-gtk
Icon=usb-creator-gtk
Terminal=false
Type=Application
Categories=System;
#X-Ubuntu-Gettext-Domain=usbcreator