[Desktop Entry]
Name=X11VNC Server
Comment=Share this desktop by VNC
Comment[es]=Comparte este escritorio por VNC
Comment[ca_ES@valencia]=Compartix  este escriptori per VNC
Comment[ca_ES.UTF-8@valencia]=Compartix  este escriptori per VNC
Exec=x11vnc -gui tray=setpass -rfbport PROMPT -bg -o %%HOME/.x11vnc.log.%%VNCDISPLAY
TryExec=x11vnc
Icon=computer
Terminal=false
Type=Application
StartupNotify=false
#StartupWMClass=x11vnc_port_prompt
Categories=Network;RemoteAccess;
