[Desktop Entry]
Name=Xaos - Fractal Zoomer
Name[es]=Xaos, fractales
Name[ca_ES.UTF-8@valencia]=Xaos, fractals
Name[ca_ES@valencia]=Xaos, fractals
Name[ca]=Xaos, fractals
Name[ca_ES]=Xaos, fractals
Comment=Fractal Generator
Comment[es]=Generador de fractales
Comment[ca_ES.UTF-8@valencia]=Generador de fractals
Comment[ca_ES@valencia]=Generador de fractals
Comment[ca]=Generador de fractals
Comment[ca_ES]=Generador de fractals
Exec=/usr/bin/xaos -driver x11
TryExec=/usr/bin/xaos -driver
Icon=xaos
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=LliureX-Laboratory;
TryExec=/usr/bin/xaos
