[Desktop Entry]
Name=Xpra Launcher
Comment=Connect to an Xpra session
Comment[es]=Conecta a una sesión Xpra
Comment[ca_ES@valencia]=Connecta a una sessió Xpra
Comment[ca_ES.UTF-8@valencia]=Connecta a una sessió Xpra
TryExec=xpra_launcher
Exec=xpra_launcher %f
Icon=xpra
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;
MimeType=application/x-xpraconfig;
