[Desktop Entry]
Name=Screen Magnifier
Name[es]=Zoom de pantalla
Name[ca_ES@valencia]=Zoom de pantalla
Name[ca_ES.UTF-8@valencia]=Zoom de pantalla
Name[ca]=Zoom de pantalla
Name[ca_ES]=Zoom de pantalla
Comment=Magnify part of display, with real-time updates.
Comment[es]=Ampliar una parte de la pantalla, con actualizaciones en tiempo real
Comment[ca_ES@valencia]=Amplia una part de la pantalla, amb actualitzacions en temps real
Comment[ca_ES.UTF-8@valencia]=Amplia una part de la pantalla, amb actualitzacions en temps real
Comment[ca]=Amplia una part de la pantalla, amb actualitzacions en temps real
Comment[ca_ES]=Amplia una part de la pantalla, amb actualitzacions en temps real
GenericName=Screen Magnifier
Keywords=screen magnifier;
Exec=xzoom -mag 3 -geometry 320x240
TryExec=xzoom
Icon=system-search
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;Accessibility;