[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=AT1
Name[es]=AT1
Name[ca_ES@valencia]=AT1
Name[ca_ES.UTF-8@valencia]=AT1
Name[ca]=AT1
Name[ca_ES]=AT1
Comment=Correct the pitch of a voice singing out of tune
Comment[es]=Corrige la afinación de una voz que canta desafinadamente
Comment[ca_ES@valencia]=Corregeix l'afinació d'una veu que canta desafinadament
Comment[ca_ES.UTF-8@valencia]=Corregeix l'afinació d'una veu que canta desafinadament
Comment[ca]=Corregeix l'afinació d'una veu que canta desafinadament
Comment[ca_ES]=Corregeix l'afinació d'una veu que canta desafinadament
GenericName=JACK autotuner
GenericName[es]=Afinador automático JACK
GenericName[ca_ES@valencia]=Afinador automàtic JACK
GenericName[ca_ES.UTF-8@valencia]=Afinador automàtic JACK
GenericName[ca]=Afinador automàtic JACK
GenericName[ca_ES]=Afinador automàtic JACK
Keywords=audio;sound;jackd,tuner,autotuner,pitch
Exec=zita-at1
TryExec=zita-at1
Icon=zita-at1
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
