[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Zynjacku
Name[es]=Zynjacku
Name[ca_ES@valencia]=Zynjacku
Name[ca_ES.UTF-8@valencia]=Zynjacku
Name[ca]=Zynjacku
Name[ca_ES]=Zynjacku
Comment=LV2 synths host for JACK
Comment[es]=Servidor de síntesis LV2 para JACK
Comment[ca_ES@valencia]=Servidor de síntesi LV2 per a JACK
Comment[ca_ES.UTF-8@valencia]=Servidor de síntesi LV2 per a JACK
Comment[ca]=Servidor de síntesi LV2 per a JACK
Comment[ca_ES]=Servidor de síntesi LV2 per a JACK
GenericName=LV2 synths host
GenericName[es]=Servidor de síntesis LV2
GenericName[ca_ES@valencia]=Servidor de síntesi LV2
GenericName[ca_ES.UTF-8@valencia]=Servidor de síntesi LV2
GenericName[ca]=Servidor de síntesi LV2
GenericName[ca_ES]=Servidor de síntesi LV2
Type=Application
Icon=zynjacku32x32
Exec=zynjacku 
TryExec=zynjacku 
Terminal=false
Categories=AudioVideo;Audio;
